<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.padc_themovieapp_tutorial_tyno">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MovieApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light"
        tools:replace="android:label">
        <activity android:name=".activities.VideoPlayerActivity"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar"></activity>
        <activity
            android:name=".activities.SecondActivity"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar_Second" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>